<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">

	<bean id="userEsseInfoDAO"
		class="com.discovery.service.user.dao.impl.UserEsseInfoDAOHibernateImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="userSecuInfoDAO"
		class="com.discovery.service.user.dao.impl.UserSecuInfoDAOHibernateImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="relationOfFriendDAO"
		class="com.discovery.service.friend.dao.impl.RelationOfFriendDAOHibernateImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="requestForFriendDAO"
		class="com.discovery.service.friend.dao.impl.RequestForFriendDAOHibernateImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="chatRecordDAO"
		class="com.discovery.service.friend.dao.impl.ChatRecordDAOHibernateImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="pushDAO"
		class="com.discovery.service.push.dao.impl.PushDAOHibernateImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="pushRecordDAO"
		class="com.discovery.service.push.dao.impl.PushRecordDAOHibernateImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="pushUserRecordDAO"
		class="com.discovery.service.push.dao.impl.PushUserRecordDAOHibernateImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="pictureInfoDAO"
		class="com.discovery.service.picture.dao.impl.PictureInfoDAOHibernateImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="userManager"
		class="com.discovery.service.user.manager.impl.UserManagerDefaultImpl">
		<property name="userEsseInfoDAO" ref="userEsseInfoDAO"></property>
		<property name="userSecuInfoDAO" ref="userSecuInfoDAO"></property>
	</bean>
	
	<bean id="friendManager"
		class="com.discovery.service.friend.manager.impl.FriendManagerDefaultImpl">
		<property name="relationOfFriendDAO" ref="relationOfFriendDAO"></property>
		<property name="requestForFriendDAO" ref="requestForFriendDAO"></property>
		<property name="chatRecordDAO" ref="chatRecordDAO"></property>
	</bean>
	
	<bean id="pushManager"
		class="com.discovery.service.push.manager.impl.PushManagerDefaultImpl">
		<property name="pushDAO" ref="pushDAO"></property>
		<property name="pushRecordDAO" ref="pushRecordDAO"></property>
		<property name="pushUserRecordDAO" ref="pushUserRecordDAO"></property>
	</bean>
	
	<bean id="pictureManager"
		class="com.discovery.service.picture.manager.impl.PictureManagerDefaultImpl">
		<property name="pictureInfoDAO" ref="pictureInfoDAO"></property>
		<property name="pushRecordDAO" ref="pushRecordDAO"></property>
	</bean>
	
	<bean id="labelDAO"
		class="com.discovery.service.label.dao.impl.LabelDAOHibernateImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
<!-- 

	<bean id="fileDAO"
		class="com.discovery.service.file.dao.impl.FileDAOHibernateImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="fileManager"
		class="com.discovery.service.file.manager.impl.FileManagerDefaultImpl">
		<property name="fileDAO" ref="fileDAO"></property>
	</bean>
 -->
 
 	<bean id="userAction" class="com.discovery.action.user.UserAction" scope="prototype">
 		<property name="userManager" ref="userManager"></property>
 	</bean>
 
</beans>