<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">

	<bean id="userEsseInfoDAO"
		class="com.discovery.service.user.dao.impl.UserEsseInfoDAOHibernateImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="userSecuInfoDAO"
		class="com.discovery.service.user.dao.impl.UserSecuInfoDAOHibernateImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="relationOfFriendDAO"
		class="com.discovery.service.friend.dao.impl.RelationOfFriendDAOHibernateImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="requestForFriendDAO"
		class="com.discovery.service.friend.dao.impl.RequestForFriendDAOHibernateImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="userManager"
		class="com.discovery.service.user.manager.impl.UserManagerDefaultImpl">
		<property name="userEsseInfoDAO" ref="userEsseInfoDAO"></property>
		<property name="userSecuInfoDAO" ref="userSecuInfoDAO"></property>
	</bean>
	
	<bean id="labelDAO"
		class="com.discovery.service.label.dao.impl.LabelDAOHibernateImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>

</beans>