<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>

		<!-- SQL dialect -->
		<property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>

		<!-- Disable the second-level cache -->
		<property name="cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property>

		<!-- Echo all executed SQL to stdout -->
		<property name="show_sql">true</property>

		<property name="connection.useUnicode">true</property>
		<property name="connection.characterEncoding">UTF-8</property>
		

		<mapping class="com.discovery.service.user.model.UserEsseInfo" />
		<mapping class="com.discovery.service.user.model.UserSecuInfo" />
		<mapping class="com.discovery.service.friend.model.RelationOfFriend" />
		<mapping class="com.discovery.service.friend.model.RequestForFriend" />
		<mapping class="com.discovery.service.friend.model.ChatRecord" />
		<mapping class="com.discovery.service.push.model.PushRecord" />
		<mapping class="com.discovery.service.push.model.PushUserRecord" />
		<mapping class="com.discovery.service.picture.model.PictureInfo" />
		<mapping class="com.discovery.service.label.model.Label" />
		<mapping class="com.discovery.service.file.model.File" />

	</session-factory>

</hibernate-configuration>